header {
    height:62px;
    width:100%;
    .heading {
        background: url(./images/logo/ohmyfood.svg) center no-repeat;
        background-size: contain;
        width:50%;
        height:31px;
        margin:auto;
        padding-top:20px;        
    }

    a::before {
        font-family: $font-icone;
        font-size:1 em;
        content: '\f060';
        position : relative;
        color:black;
        right:40px;
        top:-2px;
    }
   
}

