header {
    width:100%;
    @include shadow (black);
    padding-top:30px;
    padding-bottom: 20px; 
    .heading {
        background: url(./images/logo/ohmyfood.svg) center no-repeat;
        background-size: contain;
        width:50%;
        margin-left:auto;
        margin-right:auto;
        height:31px;
    }
    a::before {
        @include font-icone-before ('\f060',-30px,black,relative);
        top:8px;
    }
}


.menu {
    background-color : $color-background;
    padding-bottom:20px;
    border-radius:25px 25px 0 0;
    position:relative;
    margin-top:-25px;
    .flex {
        @include tablette {
        justify-content:space-around;
        }
    }
    h1 {
        font-family : $font-secondary;
        font-size:1.5em;
        padding-top:25px;
    }
    form {
        h2 {
            font-family:$font-primary;
            padding-bottom:5px;
            font-size:1em;
        }
        input[type=radio]{
            height:0;
            width:0;
            visibility: hidden;
            position: absolute;
        }
        label {
            cursor:pointer;
            position:relative;
        }
        
        .option{
            position:relative;
            background-color:white;
            margin : 10px;
            padding:10px;
            border-radius:15px;
            animation: apparition 300ms ease-out backwards;
            transition:width 300ms ease-in-out;
            .texte {
                position : relative;
                width:100%;
                transition: width 300ms ease-in-out;
            }
            .check {
                display:inline-block;
                background-color:#8edec9;
                @include shadow (#d9d9d9);
                box-sizing:border-box;
                color:white;
                position:absolute;
                height:64px;
                right:0px;
                border-radius:0 14px 15px 0;
                top:0;
                overflow:hidden;
                transform: scaleX(0);
                transform-origin: right;
                transition:transform 300ms ease-in-out;
                animation: index 300ms both;
            }
            .check::after {
                content:'\f058';
                display:block;
                font-family:$font-icone;
                font-size:2em;
                padding: 15px 15px;
            }
            &:hover > .texte {
                width:80%;
            }  
            &:hover > .check {
                transform-origin: right;
                transform: scaleX(1);
                z-index:1;
            }
            &:hover > .check::after {
                transform-origin: center;
                animation: tourne 500ms ease;
            }
            @for $i from 1 through 4 {
                &--#{$i} {
                    animation-delay: 200ms * $i;
                }
            }
            @include shadow (#d9d9d9);
            &__titre {
                font-family:$font-bold;
                white-space:nowrap;
                overflow:hidden;
                text-overflow: ellipsis;
            }
            &__soustitre {
                font-family:$font-primary;
                white-space:nowrap;
                overflow:hidden;
                text-overflow: ellipsis;
                margin-right: 40px;
            }
            &__prix {
                font-family:$font-bold;
                position:absolute;
                right: 5px;
                bottom: 0px;
                display:block;
            }
        }
    }
}
footer {
    background-color: #353535;
    font-family : $font-primary;
    color:white;
    padding:30px;
    @include tablette {
        padding-left:8%;
        font-size:1.2em;
    }
    a {
        color:white;
    }
    .foot {
        padding:3px;
        &__foot1 {
            padding-left:27px;
            font-family:$font-bold;
        }
        &__foot1::before {
            @include font-icone-before ('\f2e7',-19px,white,relative);
        }
        &__foot2 {
            padding-left:20px;
            font-family:$font-bold;
        }
        &__foot2::before {
            @include font-icone-before ('\f4c4',-15px,white,relative);
        }
    }
}