.main {
    @include background-grey;
    &__localize {
        font-family: $font-primary;
        color: #4b4b4b;
        background-color: #eaeaea;
        padding:7px;
        &::before {
            @include font-icone-before ('\f3c5',-5px,black,relative) ;

        }
    }
    &__title {
        text-align:center;
        padding : 20px;
    }
    &__bouton {
        @include bouton;
    }
}

aside {
    margin : 20px 0;    
    .info {
        @include background-grey;
        text-align:left;
        padding:20px 80px;
        font-family:$font-primary;
        margin: 10px 30px 10px 30px;
        border-radius: 20px;
        font-size: 0.9em;
        position: relative;
        &--pink{
            background-color:#f5edff;
        }
        &__number {
                position:absolute;
                background-color:$color-primary;
                border-radius:50%;
                padding: 2px 6px;
                left: -8px;
            }
        &__1::before {
            @include font-icone-before ('\f3cd',34px,#7e7e7e,absolute);
        }
        &__2::before {
            @include font-icone-before ('\f03a',30px,#7e7e7e,absolute);
        }
        &__3::before {
            @include font-icone-before ('\f54e',30px,#9356dc,absolute);
        }
    }
}
