.bouton {
    font-family:$font-bold;
    background : linear-gradient(170deg, $color-secondary,$color-primary);
    text-align:center;
    font-size:1em;
    padding:15px;
    color:white;
    border-radius:25px;
    width:190px;
    margin:20px auto 20px auto;
    display:block;
    cursor:pointer;
}

.menuimage {
    width:100%;
    height:220px;
    position:relative;
    @include tablette {
        height:260px;
    }
        &--alafrancaise {
            @include background-image ('./images/restaurant/a_la_francaise.jpg',center);
        }
        &--palette {
            @include background-image ('./images/restaurant/la_palette_du_gout.jpg',center);
        }
        &--note{
            @include background-image ('./images/restaurant/la_note_enchantee.jpg',center);
        }
        &--delice {
            @include background-image ('./images/restaurant/le_delice_des_sens.jpg',center);
        }
    }

.underline {
    height:3px;
    width:40px;
    background-color: #99e2d0;
    margin-left:20px;
    margin-bottom:20px
}

.flex {@include tablette {
    @include flexrow;
    flex-wrap: wrap;
    }
}    

@keyframes apparition {
    0% {
        opacity:0;
        transform:translateY(20px);
    }
    100% {
        opacity: 1;
        transform:translateY(0px);
    }
}

@keyframes index{
    0% {
        z-index:-1;
    }
    95% {
        z-index:-1;
    }
    100% {
        z-index:1;
    }

}

@keyframes tourne{
    0%{
        transform:rotate(0);
        
    }
    100% {
        transform:rotate(1turn);
        
    }
}