@mixin font-icone-before ($content,$left,$color,$position) {
    font-family: $font-icone;
    font-size:1 em;
    content: ($content);
    position : ($position);
    color:($color);
    left:($left);
}


@mixin background-grey {
    background-color : #f6f6f6;
    text-align : center;
} 

@mixin bouton {
    font-family:$font-bold;
    background : linear-gradient(170deg, $color-secondary,$color-primary);
    text-align:center;
    padding:15px;
    color:white;
    border-radius:25px;
    width:190px;
    margin:20px auto 20px auto;
    display:block;
}

@mixin half-size-center {
    margin:auto;
    width:50%;
}

