@mixin font-icone-before ($content,$left,$color,$position) {
    font-family: $font-icone;
    font-size:1 em;
    content: ($content);
    position : ($position);
    color:($color);
    left:($left);
}


@mixin background-grey {
    background-color : $color-background;
    text-align : center;
} 

@mixin half-size-center {
    margin:auto;
    width:50%;
}

@mixin background-image ($image,$position,$width,$height) {
    background: url($image) no-repeat ;
    background-position: ($position);
    background-size: ($width) ($height);
}

@mixin padding-block {
    padding : 40px 0 60px 0;
}

@mixin shadow ($color) {
    box-shadow: 0 5px 5px ($color);
}